body {
    margin: 0;
    padding: 0;
    background-color: #001f3f; /* Deep blue background */
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    height: 100%; /* Full height of the container */
}

.text-container {
    margin-bottom: 20px; /* Space below the text container */
    height: 40px; /* Fixed height for the text container */
    overflow: hidden; /* Prevent overflow */
    display: flex; /* Use flexbox */
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    padding: 10px; /* Add padding for better text visibility */
}

.button-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 20px; /* Space between buttons */
    margin-top: 20px; /* Space above the buttons */
    margin-bottom: 20px; /* Space below the buttons to keep it from touching the bottom */
}
.button {
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 15px;
    background-color: red;
    border-radius: 10px;
    border: none;
    color: white;
    position: relative;
    cursor: pointer;
    font-weight: 900;
    transition-duration: .2s;
    background: linear-gradient(0deg, #000, #272727);
    text-decoration: none;
}

.button:before, .button:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 10px;
    background: linear-gradient(45deg, #48ff00, #15ff00, #000000,#000000, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 10s linear infinite;
}

@keyframes steam {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}
.admin-button-container {
    position: absolute; /* Position it absolutely */
    top: 20px; /* Distance from the top */
    left: 20px; /* Distance from the left */
}
